<form class="form new-post-form">
    <h5>New Post</h5>
    <label>Title: {{input type='text' value=newPost.title}}</label>
    <label>
        Author: 
        {{#x-select action="selectAuthor" as |xs|}}
            {{#each authors as |author|}}
                {{#xs.option value=newPost.author.id}}{{author.name}}{{/xs.option}}
            {{/each}}
        {{/x-select}}
    </label>
    <label>
        Issue: 
        {{#x-select action="selectIssue" as |xs|}}
            {{#each issues as |issue|}}
                {{#xs.option value=newPost.issue.id}}{{issue.title}}{{/xs.option}}
            {{/each}}
        {{/x-select}}
    </label>
    <label>Content: {{textarea type='text' value=newPost.text}}</label>
    <button class="button" {{action "createPost" newPost}}>Submit</button>
</form>